@model SistemaImbrino.Models.View_cobrosDetalle


<input type="hidden" id="modal_finID" value="@Model.cliente" />
<input type="hidden" id="modal_MontoTotal" value="@Model.montoTotal" />
<input type="hidden" id="modal_MontoOtros" value="@Model.otrosTotal" />
@{
	decimal interesTotal = Model.interesTotal;
	decimal moraTotal = Model.moraTotal;
	decimal CapitalTotal = Model.capitalTotal;

}

<div class="row">
	<div class="col-sm-4 text-left ">
		<label>Monto Interes</label>
		<input type="text" disabled max="@Model.interesTotal" min="1" value="@interesTotal.ToString("N2")" class="form-control number numberDecimal" id="modal_monto">
	</div>

	<div class="col-sm-4 text-center ">
		<label>Monto Mora</label>
		<input type="text" disabled max="@Model.moraTotal" value="@moraTotal.ToString("N2")" class="form-control number numberDecimal" id="modal_mora">
	</div>
	<div class="col-sm-4 text-center ">
		<label>Monto capital</label>
		<input type="text" disabled max="@Model.capitalTotal" value="@CapitalTotal.ToString("N2")" class="form-control number numberDecimal" id="modal_capital">
	</div>
</div>
<div class="row">
	<div class="col-sm-4 text-left ">
		<label>Descuento Interes</label>
		<input type="text" max="@Model.interesTotal" min="1" value="0" class="form-control number numberDecimal" id="modal_descuentoInt">
	</div>

	<div class="col-sm-4 text-center ">
		<label>Descuemto Mora</label>
		<input type="text" max="@Model.moraTotal" value="0" class="form-control number numberDecimal" id="modal_descuentoMora">
	</div>
</div>

