@model SistemaImbrino.Models.CLIENTE



<tr>
	@{
		string nombre_completo = string.Format("{0} {1}", Model.CTE_NOMBRE, Model.CTE_APELLI);
	}
	<td width="200px" class="">
		@nombre_completo
	</td>
	<td width="120">@Model.CTE_CEDULA</td>
	<td width="95px">@Model.CTE_TELEFO</td>
	<td width="95px">@Model.CTE_TELEFO2</td>
	<td width="300px">@Model.CTE_DIRECC</td>
	<td class="">@Model.ZONA.ZON_DESCRI</td>
	<td>
		@{
			string color = "", Tipo = Model.TIPOCTE.TIP_DESCRI;
			if (Tipo == "NORMAL")
			{
				color = "label-default";
			}
			else
			{
				color = "label-warning";
			}

		}
		<label class="label text-center  @color">@Tipo</label>
	</td>
	<td class="col-lg-1 text-center">
		<span class="glyphicon glyphicon-edit " onclick="editar_Popup(@Model.CTE_CODIGO)" id="Ceditar" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-trash control-label" onclick="EliminarCurrentClient(@Model.CTE_CODIGO,'@nombre_completo')" id="Celiminar" aria-hidden="true"></span>

	</td>

</tr>